
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Folders
.env/

# R
.Rproj.user
.Rproj.user/
.RHistory
.RProfile
EncuestaTIC_BO.RProj
notebook.Rmd
notebook.nb.html
.Rhistory
.RData
.Ruserdata
.DS_Store
